.container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 0.5rem;
    padding-block: 2rem;
    flex-wrap: wrap;
}
.loaderContainer{
    display: flex;
    justify-content: center;
}