.card {
  box-sizing: border-box;
  width: 200px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-weight: bolder;
  color: black;
  flex-direction: column;
}

.titulo {
  color: beige;
  font-family: "Arimo", sans-serif;
}


.card:hover {
  border: 1px solid rgb(0, 0, 0);
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card>img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}